$bg-color: rgb(32, 35, 37);
$font :'Poppins', sans-serif;
$shadow: 8px 10px 22px -1px rgba(0,0,0,0.77);
$color-primary: white;


*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    min-height:100%;
}
html{
    scroll-behavior: smooth;
    font-family: $font;
    font-size:62.5%;
    color:white;
    
}
body{
    font-size: 2rem;
    background-color: $bg-color;

}
img{
    width: 100%;
     height:auto;
 
 }
a{
    color:white;
    text-decoration: none;
}

 h1{
    font-size:6rem;
}
 h2{
     font-size:4rem;
 }
 h3{
     font-size:3rem
 }
 h4{
     font-size:2.5rem;
     color: aqua;


 }
 
h5{
    font-size:2rem;
}
.bg__yellow{background-color: rgb(117, 112, 66);}
.bg__blue{background-color: #085875;}
.bg__violet{background-color: indigo;}

.wow{
    visibility: hidden;
}

.preloading{
    overflow:hidden;
}

#load{
    width:100%;
    height:100%;
    background-color: $bg-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display:block;
    overflow: hidden;
}
#load img{
    width:20rem;
    height:20rem;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -10rem;
    margin-left:-10rem;
}
   /* -----------------------nav menu------------------------------*/
.nav-menu{
    display: flex;
    padding:0;
    background-color: $bg-color;

    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-menu>ul{
    display: flex;
}
.nav-menu-left{
    margin-right: auto;
 
}
.nav-menu-right{
    margin-left: auto;
    

}
.nav-menu>ul>li{
    font-size: 1.8rem;
    list-style-type: none;
    padding:2rem;
    position: relative;
    z-index: 1;
    cursor: pointer; 
    >a{
        padding:2rem;
    }
}
.nav-menu>ul>li:before{
    content: "";
    position: absolute;
    z-index: -1;
    left:auto;
    right:0;
    top:0;
    height:100%;
    width: 0;
    transition: 0.25s;
    background-color:#423c3c;

}
.nav-menu>ul>li:hover:before{
    width:100%;
    left:0;
    right: auto;
}
i{
    margin-right: .7rem;
}
.currentNav{
    background-color:#a81a1a;

}
/*----------------------------arrow------------------------------------*/
.arrow{
    &__down{
        font-size:4rem;
    }
}



/*----------------------------header------------------------------------*/
.header{
    height: 100vh;
    // background-color: $bg-color;
    padding-top: 20vh;
    position: relative;
    &__canvas{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        display:block;
    }
    &__intro{
        text-align: center;
        overflow: hidden;
        &--title{
            margin-bottom: 4rem;
        }
        &--heading{
            margin-bottom: 4rem;
        }
        &--arrow{
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
/*----------------------------about------------------------------------*/
.about{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 10rem 5rem;
    background: url(../images/wave.svg);
    background-size: cover;
    overflow: hidden;
    height: 100vh;
 
    &__photo{
        width: 220rem;
        height:auto;
        margin-right: 10rem;
        >img{
            border-radius:4rem;
            box-shadow: $shadow;
    
        }
    }
    &__intro{
        position: relative;
    }
    &__heading{
        margin-bottom: 4rem;
    }
    &__desc{
        line-height: 4rem;
        margin-right: 5rem;
    }
    &__arrow{
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
}




/* -----------------------resume-------------------------*/
.resume{
    padding: 5rem 4rem 10rem 4rem;
    position: relative;
    overflow: hidden;
    background: url(../images/circle.svg);
    background-size: cover;
    background-attachment: fixed;
    &__heading{
        text-align: center;
        margin-bottom: 10rem;
    }
    &__personal{
        text-align: center;
        margin-bottom: 10rem;
        &--heading{
            margin-bottom: 4rem;
        }
        >div{
            margin-bottom: 3rem;
        }
    }
    &__expert{
        text-align: center;
        &--list{
            margin-top: 5rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            >div{
                width:32%;
                height: 20vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 3rem;
                box-shadow: $shadow;
                >i{
                    font-size: 4rem;
                }
                >p{
                    margin-top: 4rem;
                }
            }
        }
  
    }
    &__icon{
        &--big{
            font-size:6rem;
            margin-bottom: 2rem;
        }
    }
    &__info{
        &--heading{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        &--list{
        >li{
            margin-bottom: 1.5rem;
        }
        }
    }
    &__item{
        height:100vh;

    }
    &__education{
        text-align: center;
        margin-bottom: 5rem;
        padding-top: 5rem;
    }
    &__skill{
        text-align: center;
        margin: 5rem 20rem;
        &--list{
            font-size:2.5rem;
            display: flex;
            justify-content:center;
            flex-wrap: wrap;
            >li:not(:last-child){
                margin-right: 2rem;
            }
            >li{
                padding: 2rem;
            }
        }

    }
    &__to--project{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.assets{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 5rem 10rem;
    position: relative;
    overflow: hidden;
    height:100vh;
    background: url(../images/stars.svg);
    background-size: cover;
    &__list{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items:center;
        >div:not(:last-child){
            margin-right: 5rem;
        }
        :first-child{
            background-position: 0% 50%;
        }
        :nth-child(2){
		    background-position: 100% 50%;

        }
        :nth-child(3){
		background-position: 0% 50%;
        }
    
    }
    &__item{
        border-radius: 4rem;
        background: linear-gradient(-45deg, #8a381f, #752b47, #085875, #0c8f70);
        background-size: 400% 400%;
        margin-bottom: 5rem;
        padding: 5rem 10rem;
        min-width: 50rem;
        &--heading{
            margin-bottom: 4rem;
        }
        &--list{
            >li:not(:last-child){
                margin-bottom: 2rem;
            }
        }
        &--text{
            line-height:150%;
        }
    }
    &__arrow{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
}






/* -----------------------Projects-----------------------*/
.project{
    background: url(../images/fixed-backound.jpg);
    background-attachment: fixed;
    background-size: contain;
    padding: 5rem 0rem;
    overflow: hidden;
    &__heading{
        text-align: center;
    }
    &__container{
        padding: 3rem;
    }
    &__website{
        position: relative;
    }
    &__app{
        position: relative;
    }
   &__section--wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    &__item{
        background-color: rgb(26, 30, 37);
        width:45%;
        margin:2rem;
        border-radius: 3rem;
        overflow: hidden;
        position: relative;
        &--title{
            margin: 2rem 0rem;
        }
        &--code{
            margin-bottom: 2rem;
        } 
        &--overlay{
            position: absolute;
            display:flex;
            justify-content:center;
            align-items: center;
            bottom:0;
            left: 0;
            width:100%;
            transition: all .3s ease;
            opacity: 0;
            height: 0;
            
        }
        &--link{
            color:rgb(178, 18, 218);
 
        }
        &--desc{
            margin:0 3rem;
            >p{
                margin-bottom: 2rem;

            }
        }    
        
    }
    &__item:hover > &__item--overlay{
        opacity: .95;
        height:35%;
        background: linear-gradient(-45deg, #151515, #3C415C, #7e5959, #301B3F);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    &__to{
        &--app{
            position: absolute;
            bottom: 30%;
            left: 50%;
            transform: translateX(-50%);
        }
        &--quotes{
            position: absolute;
            bottom: 30%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


/* -----------------------Quotes-----------------------*/
.quotes{
    text-align: center;
    padding: 5rem 20rem;
    overflow: hidden;
    height: 100vh;
    position: relative;
    background: url(../images/scene.svg);
    background-size: cover;
    &__heading{
        margin-bottom: 4rem;
    }
    &__arrow{
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.slider{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    &__button{
        display: block;
        position: absolute;
        font-size: 4rem;
        top: 47%;
        color: grey;
        z-index: 10;
        &:hover{
            transform: scale(1.2);
            transition: transform 1.5s ease-in-out;
        }
        &--left{
            left: 1rem;
        }
        &--right{
            right: 1rem;
        }
    }
    &__wrapper{
        position: relative;
        overflow: hidden;
        border-radius: 3rem;
        height:60rem;


    }
    &__main{
        position: relative;
        display:flex;
        transition : transform 0.5s linear;
    }
    &__item{
        flex: 1 0 100%;
        width: 100%;
        height: 100%;
        position: relative;
        &--text{
            background-color: rgba(31, 13, 13, 0.39);
            position: absolute;
            padding: 2rem;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
        }
        &--img{
            height: 60rem;
        }
        &--quotes{
            margin-bottom: 2rem;
        }

    }

}



/* -----------------------Contact-----------------------*/
.contact{
    padding: 5rem 10rem;
    background: url(../images/footer-bg.jpg) ;
    background-color: rgba(92, 73, 73, 0.7);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    &__heading{
        margin-bottom: 4rem;
    }  
    &__icon{
        font-size:5rem;
        margin-bottom: 3rem;
    }
    &__info{
        &--item{
            margin-bottom: 4rem;
        }
        &--item.flex{
            display: flex;
            margin-top: 8rem;
            align-items: center;
            margin-bottom: 5rem;
        }
   
        &--heading{
            margin-bottom: 4rem;
        }
        &--map{
            width: 70%;

        }
    } 
    &__link{
        font-size:5rem;
        margin-bottom: 5rem;
        >:not(:last-child){
            margin-right: 5rem;
        }
    }
    &__download{
        &--button{
            width:20rem;
            font-size:2rem;
            padding: 2rem 3rem;
            background-image: linear-gradient(
                to right,
                #29323c,
                #485563,
                #2b5876,
                #4e4376
              );
              box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
              color: rgb(232, 230, 227);
              cursor: pointer;
              border: none;
              border-radius: 2rem;
              background-size: 300% 100%;
              position: relative;
            &::before, &::after{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 2px;
                background-color: #75656a;
                transform: scaleX(0);
                transition: transform 0.5s ease;
            }
            &::before{
                top: 0;
                transform-origin: center right;
            }
            &:hover::before{
                transform-origin: center left;
                transform: scaleX(1);
            }
            &::after{
                bottom: 0;
                transform-origin: center left;
            }
            &:hover::after{
                transform-origin: center right;
                transform: scaleX(1);
            }

        }
  

   


    }
}



/* -----------------------gotop-----------------------*/

.top{
    font-size:3rem;
    position: fixed;
    right: 2%;
    bottom: 5%;
    padding:.5rem;
    margin:auto;
   
}
.top:hover{
    background-color: rgb(26, 30, 37);

}




@media only screen and (max-width:70em){
    html{
        font-size: 50%;
    }
}
@media only screen and (max-width:69em){
    html{
        font-size: 45%;
    }
}
 
@media only screen and (max-width:52em){
    html{
        font-size: 40%;
    }
}   

@media only screen and (max-width:42em){
    html{
        font-size: 25%;
    }     
}


@media only screen and (max-width:25em){
    html{
        font-size: 20%;
    }
}
