$bg-color: rgb(32, 35, 37);
$font :'Poppins', sans-serif;
$shadow: 8px 10px 22px -1px rgba(0,0,0,0.77);
$color-primary: white;


*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    min-height:100%;
}
html{
    scroll-behavior: smooth;
    font-family: $font;
    font-size:62.5%;
    color:white;
    
}
body{
    font-size: 2rem;
    background-color: $bg-color;

}
img{
    width: 100%;
     height:auto;
 
 }
 h1{
    font-size:6rem;
}
 h2{
     font-size:4rem;
 }
 h3{
     font-size:3rem
 }
 h4{
     font-size:2.5rem
 }
 
h5{
    font-size:2rem;
}
.bg__yellow{background-color: rgb(117, 112, 66);}
.bg__blue{background-color: #085875;}
.bg__violet{background-color: indigo;}

.wow{
    visibility: hidden;
}

.preloading{
    overflow:hidden;
}

#load{
    width:100%;
    height:100%;
    background-color: $bg-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display:block;
    overflow: hidden;
}
#load img{
    width:20rem;
    height:20rem;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -10rem;
    margin-left:-10rem;
}
   /* -----------------------nav menu------------------------------*/
.nav-menu{
    display: flex;
    padding:0;
    background-color: $bg-color;

    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-menu>ul{
    display: flex;
}
.nav-menu-left{
    margin-right: auto;
 
}
.nav-menu-right{
    margin-left: auto;
    

}
.nav-menu>ul>li{
    font-size: 1.8rem;
    list-style-type: none;
    padding:2rem;
    position: relative;
    z-index: 1;
    cursor: pointer; 
    >a{
        padding:2rem;
    }
}
.nav-menu>ul>li:before{
    content: "";
    position: absolute;
    z-index: -1;
    left:auto;
    right:0;
    top:0;
    height:100%;
    width: 0;
    transition: 0.25s;
    background-color:#423c3c;

}
.nav-menu>ul>li:hover:before{
    width:100%;
    left:0;
    right: auto;
}
i{
    margin-right: .7rem;
}
.currentNav{
    background-color:#a81a1a;

}
/*----------------------------arrow------------------------------------*/
.arrow{
    &__down{
        font-size:4rem;
    }
}



/*----------------------------header------------------------------------*/
.header{
    height: 100vh;
    // background-color: $bg-color;
    padding-top: 20vh;
    position: relative;
    &__canvas{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        display:block;
    }
    &__intro{
        text-align: center;
        overflow: hidden;
        &--title{
            margin-bottom: 4rem;
        }
        &--heading{
            margin-bottom: 4rem;
        }
        &--arrow{
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
/*----------------------------about------------------------------------*/
.about{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 10rem 5rem;
    background: url(../images/wave.svg);
    background-size: cover;
    overflow: hidden;
    &>div{
        width: 45%;
    }
    &__photo{
        width: 100%;
        height:auto;
        >img{
            border-radius:4rem;
            box-shadow: $shadow;
    
        }
    }
    &__intro{
        position: relative;
    }
    &__heading{
        margin-bottom: 4rem;
    }
    &__desc{
        line-height: 4rem;
        margin-right: 5rem;
    }
    &__arrow{
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
}




/* -----------------------resume-------------------------*/
.resume{
    padding: 5rem 4rem;
    position: relative;
    overflow: hidden;
    &__heading{
        text-align: center;
        margin-bottom: 10rem;
    }
    &__personal{
        text-align: center;
        margin-bottom: 10rem;
        &--heading{
            margin-bottom: 4rem;
        }
        >div{
            margin-bottom: 3rem;
        }
    }
    &__expert{
        text-align: center;
        &--list{
            margin-top: 5rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            >div{
                width:32%;
                height: 20vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 3rem;
                box-shadow: $shadow;
                >i{
                    font-size: 4rem;
                }
                >p{
                    margin-top: 4rem;
                }
            }
        }
  
    }
    &__icon{
        &--big{
            font-size:6rem;
            margin-bottom: 2rem;
        }
    }
    &__info{
        &--heading{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        &--list{
        >li{
            margin-bottom: 1.5rem;
        }
        }
    }
    &__education{
        text-align: center;
        margin-bottom: 5rem;
        padding-top: 5rem;
    }
    &__skill{
        text-align: center;
        &--list{
            display: flex;
            justify-content:space-evenly;
    
        }

    }
    &__to--project{
        position: absolute;
        bottom: -1%;
        left: 50%;
        transform: translateX(-50%);
    }
}


.resume-second-block{
    display: flex;
    justify-content: space-evenly;
}
.resume-second-block>div{
    width:30%;
    height: 20rem;
    padding:3rem;
    margin:3rem;
    /* background-color: rgb(26, 30, 37); */
    border-radius:4rem;
	background: linear-gradient(-45deg, #8a381f, #752b47, #085875, #0c8f70);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    


}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


h4{
    color: aqua;
}

.assets{
    &__list{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items:center;
    
        >:not(:last-child){
            margin-right: .5rem;
        }
        >li{
            padding:.5rem;
            border: 1px solid $bg-color;
            border-radius:3rem;
        }
    }
}






/* -----------------------Projects-----------------------*/
.project{
    background: url(../images/fixed-backound.jpg);
    background-attachment: fixed;
    background-size: contain;
    padding: 5rem 0rem;
    overflow: hidden;
    &__heading{
        text-align: center;
    }
    &__container{
        padding: 3rem;
    }
    &__website{
        position: relative;
    }
   &__section--wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    &__item{
        background-color: rgb(26, 30, 37);
        width:45%;
        margin:2rem;
        border-radius: 3rem;
        overflow: hidden;
        position: relative;
        &--title{
            margin: 2rem 0rem;
        }
        &--code{
            margin-bottom: 2rem;
        } 
        &--overlay{
            position: absolute;
            display:flex;
            justify-content:center;
            align-items: center;
            bottom:0;
            left: 0;
            width:100%;
            transition: all .3s ease;
            opacity: 0;
            height: 0;
            
        }
        &--link{
            color:rgb(178, 18, 218);
 
        }
        &--desc{
            margin:0 3rem;
            >p{
                margin-bottom: 2rem;

            }
        }    
        
    }
    &__item:hover > &__item--overlay{
        opacity: .95;
        height:35%;
        background: linear-gradient(-45deg, #151515, #3C415C, #7e5959, #301B3F);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    &__to{
        &--app{
            position: absolute;
            bottom: 30%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.animation__backInRight{
    animation: backInRight;
    animation-duration: 2s;
}


/* -----------------------Quotes-----------------------*/
.quotes{
    text-align: center;
    padding: 5rem 20rem;
    overflow: hidden;
    &__heading{
        margin-bottom: 4rem;
    }
}

.slider{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    &__button{
        display: block;
        position: absolute;
        font-size: 4rem;
        top: 47%;
        color: black;
        z-index: 10;
        &:hover{
            transform: scale(1.2);
            transition: transform 1.5s ease-in-out;
        }
        &--left{
            left: 1rem;
        }
        &--right{
            right: 1rem;
        }
    }
    &__main{
        position: relative;
        width: 100%;
        border-radius: 3rem;
        height:60rem;
        overflow: hidden;
        display:flex;
    }
    &__item{
        flex: 1 0 100%;
        width: 100%;
        height: 100%;
        position: relative;
        &--text{
            background-color: rgba(31, 13, 13, 0.39);
            position: absolute;
            padding: 2rem;
            left: 0rem;
            bottom: 0rem;
            z-index: 10;
        }
        &--quotes{
            margin-bottom: 2rem;
        }

    }
}



/* -----------------------Contact-----------------------*/
.contact{
    padding-top: 2rem;
    background: url(../images/footer-bg.jpg) ;
    background-color: rgba(92, 73, 73, 0.7);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    &__download{
        width:100%;
        text-align:center;
        padding-bottom: 3rem;
        &--link{
            color:rgb(178, 18, 218);
            text-decoration: underline;
        }
    }
}
.contact-info{
    display: flex;
    justify-content:space-evenly
}

.contact-info>div>h4{
    margin-bottom: 1.5rem;
}
.contact-info>div>div{
    margin-left: 2rem;
}
.contact-link{
    display: flex;
    justify-content:center;
   

}
.contact-link>a{
    margin:3rem;

}
a{
    text-decoration:none;
    color: white;
}

/* -----------------------gotop-----------------------*/

.top{
    font-size:3rem;
    position: fixed;
    right: 2%;
    bottom: 5%;
    padding:.5rem;
    margin:auto;
   
}
.top:hover{
    background-color: rgb(26, 30, 37);

}




@media only screen and (max-width:70em){
    html{
        font-size: 50%;
    }
}
@media only screen and (max-width:69em){
    html{
        font-size: 45%;
    }
}
 
@media only screen and (max-width:52em){
    html{
        font-size: 40%;
    }
}   

@media only screen and (max-width:42em){
    html{
        font-size: 25%;
    }     
}


@media only screen and (max-width:25em){
    html{
        font-size: 20%;
    }
}
